@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;400;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    background-color:#000;
    color: #fff;
    width: 100%;
    text-align: center;
}
h2{
    padding: 1.5rem 0;
    font-size: 3rem;
}
header .progress{
    width: 100%;
    height: 10px;
    background-color: #fefefe;
}
header .progress .progress-bar{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right ,#ff0077,#b600c6c5);
}
section{
    margin-top: 5rem;
    padding: 3rem 4rem;
}
section p{
    font-size: 1.5rem;
    line-height: 30px;
    margin-top: 2rem;
    margin-bottom:3rem;
}